.container{
    
}

.container-area{
    display: flex;
    min-height: 100vh;
}

nav{
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
}

main{
    flex-grow: 1;
    padding: 20px;
}